/* Base Styles */
@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-light";
  src: url("./fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
}


body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
    text-decoration: none;
  }



  /*Top Header*****/

.top-header{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 45px;
 
}


  .top-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
  }
  .top-orange{
    background-color: #f44336;
    position: relative;
  }

  
  .drop-down{
    /* width: 20px;
    height: 20px; */
    align-items: center;
    font-weight: bolder;
    padding-right: 6px;
    padding-bottom: 1px;
  }

  .currency-box{
    color: #fff;
    font-family: "poppins";
    font-size: 11px;
    width: 90px;
    height: 29px;
    display: flex;
    gap: 1px;
    font-weight: 300;
    background-color:#db3c30;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .currency-box:hover ~ .fx{
      display: block;
      animation: openFx 0.3s ease-out 20ms forwards;     
      -webkit-animation: openFx 0.3s ease-out 20ms forwards;
}

  #currency-text{
    font-weight: 580;
    padding-left: 8px;
    text-transform: uppercase;
  }

  .fx{
    list-style-type: none;
    width: 110px;
    height: 130px;
    border: 1px solid #EEEEEE;
    padding: 16px;
    margin-top: 0;
    background-color: #fff;
    display: none;
    opacity:0 ;
    transform: scale(0.8);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

@keyframes openFx{
0% {
    transform: scale(0.8);
    opacity: 0;
}
100% {
    transform: scale(1);
    opacity: 1;
}
}

  .fx-img{
    width: 16px;
    height: 10px;
    padding-top: 4px;
    padding-right: 4px;
  }

  .usd, .eur, .aud, .gbp, .jpy{
    display: flex;
    gap: 5px;
    font-size: 12px;
    cursor: pointer;
    font-family: "poppins-light";
    font-weight: 200;
    padding-bottom: 10px;
  }

  .right-side{
    display: flex;
    gap: 24px;
    color: #fff;
    font-family: "poppins-light";
    font-size: 10px;
    cursor: pointer;
    padding-top: 16px;
    text-transform: uppercase;
  }

  .hover:hover{
    color: #000;
  }

  .full-line {
    width: 100%;  
    height: .5px;   
    background-color:  #E0E0E0;
    margin: 0 auto; 
    position: absolute;
    bottom: 100px;
    opacity: 30%;
}

  .center-header{
    width: 100%;
    height: 100px;
    position: relative;
  }
  
  .center-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 24px;
  }
  
  .search-box{
    width: 610px;
    height: 60px;
    margin-left: 78px;
    border-right: .5px solid rgba(224, 224, 224,.2);
  }
  
  .search-container{
    background-color: #fff;
    display: flex;
    width: 575px;
    height: 39px;
    margin-top: 8px;
  }
  .search-input{
    width: 530px;
    height: 100%;
    border: none;
    padding-left: 14px;
  }

  .search-input::placeholder{
    font-family: "poppins-light";
    color: #757575;
    font-size: 12px;
    opacity: 80%;
  }
  .search-btn{
    width: 45px;
    height: 42px;
    background-color:#000;
    border: none;
  }

  .search-img{
    width: 18px;
    height: 20px;
    color: #fff;
  }


  .shopping-cart{
    display: flex;
    margin-left: 26px;
  }
  
  .bag-img{
    color: #fff;
    height: 42px;
    width: 35px;
  }
  .shopping-info{
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    color: #fff;
    margin-top: 2px;
  }
  .shoping-cart-txt{
    text-transform: uppercase;
    font-size: 14px;
    font-family: "poppins";
  }
  .bag-price-info{
    font-size: 11px;
    font-family: "poppins-light";
  }




 
  